.credits-table img
{
  display: inline-block;
  margin-right: 6px;
  margin-top: -28px;
  margin-left: -30px;
}
.credits-table .rightImg
{
  display: inline-block;
  margin-right: -30px;
  margin-top: -28px;
  margin-left: 6px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.credits-table
{
  width: fit-content;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.colored-name
{
  color: pink;
}
.credits-list
{
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}
.credits-subtitles
{
  color: #ffffb3;
}
